<button data-action="open-drawer" id="drawer-button" class="drawer-button"><i class="fa fa-bars"></i></button>
<nav tabindex="-1" class="drawer">
  <div class="drawer-container">
    <!--.drawer-search(role="search")-->
    <ul role="navigation" class="drawer-list">
      <li class="drawer-list-divider"></li>
      <li class="drawer-list-item drawer-list-title">
        Menu
      </li>
      <li class="drawer-list-item">
        <a href="/" data-pjax>
          <i class="fa fa-home"></i>Top
        </a>
      </li>
      <li class="drawer-list-item">
        <a href="https://www.supersoftware.co.jp" target="_blank">
          <i class="fa fa-info-circle"></i>SuperSoftware
        </a>
      </li>
      {{!-- <li class="drawer-list-item">
        <a href="https://www.supersoftware.co.jp" target="_blank">
          <i class="fa fa-users"></i>Careers
        </a>
      </li> --}}
      <li class="drawer-list-divider"></li>
      <li class="drawer-list-item drawer-list-title">
        Resources
      </li>
      <li class="drawer-list-item">
        <a href="{{facebook_url}}" target="_blank">
          <i class="fa fa-facebook-square"></i>Facebook
        </a>
      </li>
      <li class="drawer-list-item">
        <a href="{{twitter_url}}" target="_blank">
          <i class="fa fa-twitter-square"></i>Twitter
        </a>
      </li>
      <li class="drawer-list-item">
        <a href="https://github.com/supersoftware" target="_blank">
          <i class="fa fa-github"></i>Github
        </a>
      </li>
      <li class="drawer-list-item">
        <a href="https://hub.docker.com/u/supersoftware/" target="_blank">
          <i class="fa fa-flask"></i>Dockerhub
        </a>
      </li>
      {{navigation}}
    </ul>
  </div>
</nav>
