{{! Templates

Link
==============
<li class="drawer-list-item">
  <a href="#" title="Follow me on twitter!">
    <i class="fa fa-twitter"></i> Follow me
  </a>
</li>

Divider
==============
<li class="drawer-list-divider"></li>

Title
==============
<li class="drawer-list-item drawer-list-title">
  Follow me
</li>

ProTip:
==============
Ghostium uses Font Awesome you can find all icons available on the url below
  http://fortawesome.github.io/Font-Awesome/cheatsheet/

}}

<li class="drawer-list-divider"></li>
<li class="drawer-list-item drawer-list-title">
  Menu
</li>
<li class="drawer-list-item">
  <a href="/" data-pjax>
    <i class="fa fa-home"></i>Top
  </a>
</li>
<li class="drawer-list-item">
  <a href="https://www.supersoftware.co.jp" target="_blank">
    <i class="fa fa-info-circle"></i>SuperSoftware
  </a>
</li>
<li class="drawer-list-item">
  <a href="http://eepurl.com/daqqN1" target="_blank">
    <i class="fa fa-envelope-o"></i>Subscribe
  </a>
</li>
{{!-- <li class="drawer-list-item">
  <a href="https://www.supersoftware.co.jp" target="_blank">
    <i class="fa fa-users"></i>Careers
  </a>
</li> --}}


<li class="drawer-list-divider"></li>
<li class="drawer-list-item drawer-list-title">
  Resources
</li>
<li class="drawer-list-item">
  <a href="https://github.com/supersoftware" target="_blank">
    <i class="fa fa-github"></i>Github
  </a>
</li>
<li class="drawer-list-item">
  <a href="https://hub.docker.com/u/supersoftware/" target="_blank">
    <i class="fa fa-flask"></i>Dockerhub
  </a>
</li>

<li class="drawer-list-divider"></li>
<li class="drawer-list-item drawer-list-title">
  Archives
</li>
{{#foreach navigation}}
<li class="drawer-list-item">
  <a href="{{url absolute="true"}}">{{label}}</a>
</li>
{{/foreach}}